*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-color: #061233b6;
    align-items: center;
    justify-content: center;

}
.container{
    max-width: 550px;
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    margin:0 20px ;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}
.container p{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}
.container p a{
    position: relative;
    text-decoration: none;

}
.container p a:hover{
    text-decoration: underline;
}
.container p span{
    position: absolute;
    height: 37px;
    top: -44px;
    left: 50%;
    transform:translate(-40%, -20%) ;
    min-width: 150px;
    color: #fff;
    line-height: 37px;
    text-align: center;
    border-radius: 25px;
    background: #735ad6c5;
    transition: all 0.3s ease;
    opacity:0; 
    pointer-events: none;
    
}

.container p a:hover span{
    opacity: 1;
pointer-events: auto;
    transform:translate(-50%, 0) ;
}
.container p span:before{
    content: '';
    position: absolute; 
    height: 15px;
    width: 15px;
    background:#735ad6c5;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    z-index: -1;

}
